/*
|--------------------------------------------------------------------------
| about.css
|--------------------------------------------------------------------------
|
| Página informativa del proyecto.
|
|--------------------------------------------------------------------------
*/


.about {


    max-width: 900px;


    margin: auto;


    line-height: 1.7;


}






.about p {


    margin-bottom: 20px;


}






.about ul {


    margin-top: 20px;


    padding-left: 30px;


}






.about li {


    margin: 10px 0;


}