/*
|--------------------------------------------------------------------------
| detail.css
|--------------------------------------------------------------------------
|
| Página de detalle del cóctel.
|
|--------------------------------------------------------------------------
*/


.detail-container {


    max-width: 900px;


    margin: auto;


    padding: 30px;


}






.detail-container img {


    width: 350px;


    margin: 25px auto;


    border-radius: 15px;


}






.detail-container h3 {


    margin-top: 25px;


    color: #ff9800;


}






.detail-container p {


    line-height: 1.6;


}






.detail-container li {


    margin: 10px 0;


}




@media(max-width:600px) {


    .detail-container img {


        width: 100%;


    }


}