.detail-container {

    max-width: 900px;

    margin: auto;

    padding: 30px;

}

.detail-container img {

    width: 350px;

    border-radius: 15px;

    display: block;

    margin: 20px auto;

}

.detail-container h3 {

    margin-top: 20px;

}

.detail-container ul {

    margin-left: 20px;

}

.detail-container li {

    margin: 8px 0;

}

.btn-detail {

    display: inline-block;

    margin-top: 15px;

    background: #ff9800;

    color: white;

    text-decoration: none;

    padding: 10px 18px;

    border-radius: 8px;

    transition: .3s;

}

.btn-detail:hover {

    background: #e68900;

}