/*
|--------------------------------------------------------------------------
| navbar.css
|--------------------------------------------------------------------------
|
| Diseño de la barra de navegación.
|
|--------------------------------------------------------------------------
*/


.navbar {


    background: #212121;


    color: white;


    padding: 20px 40px;


    display: flex;


    justify-content: space-between;


    align-items: center;


}






.navbar h2 {


    color: white;


}






.navbar ul {


    display: flex;


    gap: 30px;


    list-style: none;


}






.navbar a {


    color: white;


    font-weight: bold;


    transition: .3s;


}






.navbar a:hover {


    color: #ff9800;


}






/*
Responsive para móviles
*/

@media(max-width:768px) {



    .navbar {


        flex-direction: column;


        gap: 20px;


    }





    .navbar ul {


        flex-direction: column;


        text-align: center;


        gap: 15px;


    }



}